<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>about</title>
</head>
<body>
    <h1>Wwelcome to About page</h1>

    <p>
    Hundreds of thousands protested Trump on Friday across Britain.
    In London, an estimated 250,000 people marched in the “Stop Trump” rally alone,
    which was held in the afternoon. Among the top issues of concern among protesters
    that HuffPost spoke to were the president’s misogyny and racism, as well as his
    treatment of immigrants, especially his “zero tolerance” policy.
</p><br>

    <a href = "{% url 'home' %}">Return Home</a>
</body>
</html>
